<suite name="Regression Suite">
	<test name="Application Test 1" preserve-order="false">

		<classes>
			<class name="TestN.TestNGAnnotationsClass2"></class>
			<class name="TestN.TestNGAnnotationsClass1"></class>
			>
		</classes>
		>
	</test>

	<test name="Application Test 2" enabled="false">
		<classes>
			<class name="TestN.TestNGAnnotationsClass2"></class>
			>
		</classes>
		>
	</test>
</suite>
